@import "./mixin.scss";
@import "./theme.scss";
input::placeholder{
    color:#999;
}
.page-login{
    display:inline-block;vertical-align:top;padding:30px 50px; background-color:$bgcolor; border-radius:8px; transition:all .5s;
    @include center; padding-top:60px;
    & .login-avatar { position:absolute;@include center; top:0;}
    &:hover{box-shadow: 0 0 15px 1px #e1e1e1;}
}

.component-avatar{
    display:inline-block; vertical-align:top; overflow:hidden; border-radius:50% 50%; 
    & > img {display:inline-block;vertical-align:top;border:none; overflow:hidden;}
}
.component-input{
    display:inline-block; vertical-align:top; height:40px; padding:3px 0; line-height:34px;
    & > label { display:inline-block;vertical-align:top; color:$fontColor; text-align:right; width:50px;padding-right:8px;}
    & > p { display:inline-block;vertical-align:top; border:1px solid #e1e1e1; border-radius:5px;overflow:hidden;
        & > input { border:none;  line-height:20px; padding:7px; outline:none;}
    }
}
.component-button{ @include inlineBlock; 
    & > button {width:100%; border:none; line-height:34px;  border-radius:3px; padding:0 15px; cursor: pointer; outline:none; }
    &.large{display:block; width:100%; }
}
.component-sf{
    width:100%; padding:20px; background-color:#e1e1e1;width:40%; margin-left:30%;
    & ul{ display:flex; align-items: flex-end; justify-content:space-around; 
        & > li { flex:0 0 auto; background-color:#d85645; width:20px;}
    }
}
